
<style type="text/css">
#itemedit .curr {
	text-align: right;
	width: 100px;
}

#itemedit .wide {
	width: 400px;
}

#itemedit .narrow {
	width: 60px;
}

.decipher-tags-input {
border: none;
color: yellow
}

/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

* { -webkit-appearance: none; }
.label {
	margin-top: 2em;
	color: cadetblue
	
}

body,
input {
  background-color: #f4f4f4;
  font-family: source-sans-pro, sans-serif;
  padding: 0 50px;
  font-size:16px;

}

input[type=date] {
  -webkit-appearance: none;
  line-height: 1.313rem;
  font-size: 12px;
  letter-spacing: 0;
  padding: 0 0.563rem;
  border: 1px solid #9daca9;
  border-radius: 4px;
  background-color: hsla(210, 2%, 25%, 1);
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
  color: #454545;
  vertical-align: top;
}

input::-webkit-datetime-edit {
  -webkit-appearance: none;
}

input::-webkit-datetime-edit-fields-wrapper {
  -webkit-appearance: none;
}

input::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  color: #ccc;
}

input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  color: #454545;
  text-shadow: 0 1px #fff;
}

input::-webkit-clear-button {
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  border-radius: 1px;
}

input::-webkit-calendar-picker-indicator,
#picker {
  -webkit-appearance: none;
}





@font-face {
  font-family: "Source Sans Pro";
  src: url('font/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('font/SourceSansPro-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('font/SourceSansPro-Semibold.otf');
  font-weight: 600;
}

body {
  font: 16px "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background: hsla(200, 2%, 30%, 1);
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.topcoat-select {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.topcoat-select {
  vertical-align: top;
  outline: none;
}

.topcoat-select {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topcoat-select {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
}

.topcoat-select {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.topcoat-select:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.topcoat-select::-ms-expand {
  display: none;
}

/* topdoc
  name: Topcoat Select
  description: A component that lets you select things
  modifiers:
    :disabled: Disabled state
    :focus: Focused
    :invalid: Hover state
  markup:
    <select class="topcoat-select">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <select class="topcoat-select" disabled>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  tags:
    - desktop
    - mobile
    - text
    - input
*/

.topcoat-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  appearance: button;
  text-indent: 0.01px;
  text-overflow: '';
  padding: 0.7rem 1.3rem 0.7rem 1rem;
  font-size: 16px;
  font-weight: 400;
  height: 3rem;
  letter-spacing: 1px;
  color: hsla(180, 2%, 78%, 1);
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.69);
  border-radius: 6px;
  background-color: hsla(180, 1%, 35%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
  border: 1px solid hsla(180, 1%, 20%, 1);
  background-image: url('../img/dropdown.svg');
  background-repeat: no-repeat;
  background-position: center right;
}

.topcoat-select:hover {
  background-color: hsla(200, 2%, 39%, 1);
}

.topcoat-select:active {
  background-color: hsla(210, 2%, 25%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 0%, 0.05);
}

.topcoat-select:focus {
  border: 1px solid hsla(227, 100%, 50%, 1);
  box-shadow: 0 0 0 2px hsla(208, 82%, 69%, 1);
  outline: 0;
}



/* fonts /*
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('fonts/fontawesome-webfont.eot?v=4.0.3');src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.2857142857142858em;text-align:center}.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1)}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-asc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-desc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-reply-all:before{content:"\f122"}.fa-mail-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}




</style>
<form novalidate>
<div style="padding:10px">
<div class='label'>
	<label for="ib">{{vm.refs.translateService.getString("type")}}</label>
</div>
<div ng-show="vm.isRowEditable">
	<select id="etypeSel" ng-model="vm.focusItem.type" class="topcoat-select form-control" ng-options="t.type as t.typeDesc for t in vm.types">
	</select>
</div>

<div class='label'>
	<label for="ib">{{vm.refs.translateService.getString("DateI")}}</label>
</div>
<div ng-show="vm.isRowEditable">
	<input class="form-control narrow" type='date' id="ib" ng-model="vm.focusItem.dateI" style="background-color: hsla(0, 0%, 74%, 1);" />
</div>
<div ng-hide="vm.isRowEditable">{{vm.focusItem.dateI}}</div>



<div class='label'>
	<label for="i2">{{vm.refs.translateService.getString("Description")}}</label>
</div>
<div ng-hide="vm.isRowEditable">{{vm.focusItem.desc}}</div>

<span ng-show="vm.isRowEditable"> <input type="search" id="i2" ng-model="vm.focusItem.desc" class="wide form-control topcoat-text-input"  />
	<button id="calButton" style="margin-left: 4em;margin-top: 0em" class="topcoat-icon-button--quiet btn btn-hollow" ng-hide="vm.showCalendarSelect"  ng-click="vm.showCalendarSelect = !vm.showCalendarSelect">
		<i class="icon-calendar"></i>
		<span class="fa fa-calendar"></span>
	</button>	
	<select  id="calSel" ng-show="vm.showCalendarSelect" ng-model="vm.focusItem.desc" ng-change="vm.showCalendarSelect=false" class="form-control">
		 <option value="" disabled selected>-- choose --</option>
		<option ng-repeat="event in vm.refs.datasourceService.fetchRecentCalendarEvents() track by $index|orderBy:'summary'">{{event.summary}}</option>
    </select>

</span>
<div class='label'>
	<label for="ic">{{vm.refs.translateService.getString("Nominal")}}</label>
</div>
<div ng-show="vm.isRowEditable">
	<select id="nomSel" class="topcoat-select form-control" ng-model="vm.focusItem.nom" ng-options="v.mnemonic as v.desc for v in vm.refs.modelService.getNoms()">
	</select>
</div>
<div ng-hide="vm.isRowEditable">{{vm.focusItem.nom}}</div>


<div ng-show="vm.focusItem.type == 'K'">
	<div ng-show="vm.isRowEditable">
		<div class='label'>
			<label for="id">{{vm.refs.translateService.getString("Km")}}</label>
		</div>
		<input type="{{vm.number}}" step="any" ng-change="vm.refs.modelService.kmChanged(vm.focusItem)" id="id" ng-model="vm.focusItem.km" class="topcoat-text-input narrow form-control" />
	</div>
	<div ng-hide="vm.isRowEditable">{{vm.focusItem.km}}</div>


	<div class='label'>
		<label for="ie">{{vm.refs.translateService.getString("Kmrate")}}</label>
	</div>
	<div ng-show="vm.isRowEditable">
		<input type="{{vm.number}}"  step="any"  id="ie" ng-change="vm.kmChanged()" ng-model="vm.focusItem.kmrate" class="topcoat-text-input narrow form-control curr" />
	</div>
	<div ng-hide="vm.isRowEditable">{{vm.focusItem.kmrate}}</div>
</div>


<div ng-hide="vm.focusItem.type == 'K'" class='label'>

	<label>{{vm.refs.translateService.getString("Amount")}}</label>
	<div ng-show="vm.isRowEditable && vm.focusItem.type == 'L'">
		<input ng-change="vm.refs.modelService.calculateVat(vm.focusItem)" type="{{vm.number}}"  step="any"  id="i3" ng-model="vm.focusItem.amount" class="topcoat-text-input narrow  form-control curr" />
	</div  class='label'>
	<div  class='label' ng-hide="vm.isRowEditable && vm.focusItem.type == 'L'">{{vm.focusItem.amount | currency:""}}
	</div>

	<div  class='label'>
	<label for="i4">{{vm.refs.translateService.getString("Net")}}</label>
	</div>
	<div ng-show="vm.isRowEditable && vm.focusItem.type == 'L'">
		<input type="{{vm.number}}"  step="any" id="i4" ng-model="vm.focusItem.net" class="topcoat-text-input narrow  form-control curr" />
	</div>
	<div ng-hide="vm.isRowEditable && vm.focusItem.type == 'L'">{{vm.focusItem.net| currency:""}}</div>


	<div class='label'>
		<label for="i5">{{vm.refs.translateService.getString("Vat")}}<br></label>
	</div>
	<div ng-show="vm.isRowEditable && vm.focusItem.type == 'L'">
		<input type="{{vm.number}}"  step="any"  id="i5" ng-model="vm.focusItem.vat" class="topcoat-text-input narrow curr form-control" />
	</div>
	<div ng-hide="vm.isRowEditable && vm.focusItem.type == 'L'">{{vm.focusItem.vat| currency:"":""}}</div>

	<div ng-show="vm.focusItem.type == 'F'">
		<div ng-show="vm.isRowEditable">
			<div class='label'>
				<label for="i9">{{vm.refs.translateService.getString("Currency")}}</label>
			</div>
			<input id="i9"  ng-change="vm.currencyChanged()" uppercase ng-model="vm.focusItem.currency" class="topcoat-text-input form-control narrow" maxlength="3" />
		</div>
		<div ng-hide="vm.isRowEditable">{{vm.focusItem.currency}}</div>
		<div class='label'>
			<label for="ia">{{vm.refs.translateService.getString("Fxrate")}}</label>
		</div>
		<div ng-show="vm.isRowEditable">
			<input type="{{vm.number}}"  step="any"  id="ia" ng-model="vm.focusItem.fx" name="fx" class="topcoat-text-input narrow curr form-control" />
		</div>
		<div ng-hide="vm.isRowEditable">{{vm.focusItem.fx}}</div>

		<div ng-show="vm.isRowEditable" class='label'>
			<div class='label'>
				<label for="i6">{{vm.refs.translateService.getString("AmountF")}}</label>
			</div>
			<input type="{{vm.number}}"  step="any"  id="i6"   ng-change="vm.refs.modelService.calculateFx(vm.focusItem)"  ng-model="vm.focusItem.fxamount" class="topcoat-text-input narrow curr form-control" />
		</div>
		<div ng-hide="vm.isRowEditable">{{vm.focusItem.fxamount| currency:""}}</div>


		<div ng-show="vm.isRowEditable">
			<div class='label'>
				<label for="i7">{{vm.refs.translateService.getString("NetF")}}</label>
			</div>
			<input type="{{vm.number}}"  step="any" id="i7"   ng-change="vm.refs.modelService.calculateFx(vm.focusItem)"  ng-model="vm.focusItem.fxnet" class="topcoat-text-input narrow curr form-control" />
		</div>
		<div ng-hide="vm.isRowEditable">{{vm.focusItem.fxnet| currency:""}}</div>


		<div ng-show="vm.isRowEditable">
			<div class='label'>
				<label for="i8">{{vm.refs.translateService.getString("VatF")}}</label>
			</div>
			<input id="i8" ng-model="vm.focusItem.fxvat"   ng-change="vm.refs.modelService.calculateFx(vm.focusItem)" class="topcoat-text-input narrow form-control curr" />
		</div>
		<div ng-hide="vm.isRowEditable">{{vm.focusItem.fxvat| currency:""}}</div>


	</div>
	<!--  end of fx -->

</div>
<!--  end of amount -->




<div class='label'>
	<label for="icc">{{vm.refs.translateService.getString("Tags")}}</label>
</div>
<div ng-show="vm.isRowEditable">
	<tags style="border:none" data-options="{addable: true, classes: {white: 'black', red: 'red'}}" data-model="vm.tagsArray"></tags>
	<select  ng-model="vm.addedTag" class="topcoat-select narrow form-control" >
		<option ng-repeat="v in vm.refs.modelService.getTagsAsArray()" value="{{v}}">{{v}}</option>
	</select>

	<div ng-hide="vm.isRowEditable">{{vm.focusItem.tags}}</div>



	<div  class='label'>
		<label for="ii">{{vm.refs.translateService.getString("CommentE")}}</label>
	</div>
	<div ng-show="vm.isRowEditable">
		<input class="topcoat-text-input form-control wide" id="ii" ng-model="vm.focusItem.ecomment" />
	</div>


	<div>
		<div  class='label'>
			<label for="if">{{vm.refs.translateService.getString("CommentM")}}</label>
		</div>
		<div>{{vm.focusItem.mcomment}}</div>
	</div>


	<div ng-hide="vm.isRowEditable">{{vm.focusItem.ecomment}}</div>


	<div  class='label'>
		<label for="ij">{{vm.refs.translateService.getString("DateP")}}</label>
	</div>
	<div>{{vm.focusItem.dateP}}</div>
	<div ng-hide="vm.mobile==true">
		<a style="margin-left: 100px;" class="btn btn-primary " ng-click="vm.zoomout()" href="" title="">Done</a>
	</div>


    <div style="margin-top: 1em">
        Use the camera button below to take a photograph of your receipt (or choose from your gallery). Please note, there is an upload limit
        of 1MB, so please use a resolution of 3M pixels or below.
    </div>

	<div ng-show="vm.isRowEditable && (vm.refs.location.absUrl().indexOf('emp')>-1 || vm.mobile == true)">
		<input style="visibility: hidden; width:0; height:0" id="imgb" type="file" onchange="window['mainCtrl'].setFile(this)" accept="image/*;capture=camera" class="form-control wide">
		<button style="margin-left: 4em;margin-top: 2em" class="topcoat-icon-button btn btn-hollow" ng-click="vm.doFileClick()"><span class="fa fa-camera"></span></button>
	</div>
	<div ng-hide="vm.isRowEditable">{{vm.focusItem.ecomment}}</div>


    <img id="rimg" ng-show="vm.focusItem.rurl && vm.focusItem.rurl.length>2" ng-src="{{vm.focusItem.rurl}}" id=rimg style="width: 100%" src="" alt=""/> 
<!-- 
    <zimg  ng-show="vm.focusItem.rurl && vm.focusItem.rurl.length>2" id=rimg style="width: 100%" Zsrc="{{vm.focusItem.rurl}}" alt=""> </zimg>
    <zscript>setTimeout(function (){console.log("ph");document.getElementById('rimg').src=document.getElementById('rimg').getAttribute('Zsrc')},2000) </zscript>
     -->
</div>
</div>
</form>