
<style>
#itemedit .curr {
	text-align: right;
	width: 100px;
}
#itemedit .wide {
	width: 400px;
}
#itemedit .narrow {
	width: 60px;
}

</style>
<table id="itemedit">
	<tr ng-show="vm.refs.location.absUrl().indexOf('manager')>-1">
		<td><label for="i1">Email</label></td>
		<td>{{vm.focusItem.email}}</td>
		
	</tr>
	<tr tooltip="{{vm.refs.translateService.getString('ttType')}}">
		<td><label for="ib">{{vm.refs.translateService.getString("type")}}</label></td>
		<td ng-show="vm.isRowEditable">
			<select id="etypeSel" ng-model="vm.focusItem.type" class="form-control" required ng-options="t.type as t.typeDesc for t in vm.types">  		</select>
		  </td>
		<td ng-hide="vm.isRowEditable">{{vm.focusItem.type}}</td>
		<td id="saveButton" ng-hide="vm.mobile==true" style="margin-left:100px; right;" class="btn btn-primary" ng-click="vm.zoomout()" href="" title=""><span>{{vm.refs.translateService.getString(vm.buttonLabel)}}</span></a></td>
	</tr>
	<tr tooltip="{{vm.refs.translateService.getString('ttDateI')}}">
		<td><label for="ib">{{vm.refs.translateService.getString("DateI")}}</label></td>
		<td ng-show="vm.isRowEditable">
		<input  class="form-control" type='date' id="ib" ng-model="vm.focusItem.dateI"/> 
		  </td>
		<td ng-hide="vm.isRowEditable">{{vm.focusItem.dateI}}</td>
	</tr>

	<tr tooltip="{{vm.refs.translateService.getString('ttDescription')}}">
		<td><label for="i2">{{vm.refs.translateService.getString("Description")}}</label></td>
		<td ng-show="vm.isRowEditable">
			<input type="search"  id="i2" ng-model="vm.focusItem.desc" class="wide form-control"/>
		</td>
		<td  ng-show="vm.isRowEditable"><button id='calButton' style="background:transparent" ng-hide="vm.showCalendarSelect" class="btn" ng-click="vm.showCalendarSelect = !vm.showCalendarSelect"><i class="icon-calendar"></i></button>
		<select id="calSel" ng-show="vm.showCalendarSelect" ng-model="vm.focusItem.desc" ng-change="vm.showCalendarSelect=false" class="form-control">
		  <option ng-repeat="event in vm.recentEventsArray track by $index|orderBy:'summary'">{{event.summary}}</option>
		</td>
		<td ng-hide="vm.isRowEditable">{{vm.focusItem.desc}}</td>
	</tr>
	<tr ng-show="vm.focusItem.type == 'K'" tooltip="{{vm.refs.translateService.getString('ttKm')}}">
		<td><label for="id">{{vm.refs.translateService.getString("Km")}}</label></td>
		<td ng-show="vm.isRowEditable ">
		<input  type="{{vm.number}}" id="id" ng-change="vm.refs.modelService.kmChanged(vm.focusItem)" ng-model="vm.focusItem.km" class="narrow form-control"/></td>
		<td ng-hide="vm.isRowEditable">{{vm.focusItem.km}}</td>
	</tr>
	<tr  ng-show="vm.focusItem.type == 'K'"  tooltip="{{vm.refs.translateService.getString('ttKmrate')}}">
		<td><label for="ie">{{vm.refs.translateService.getString("Kmrate")}}</label></td>
		<td ng-show="vm.isRowEditable">
		<input  type="input" id="ie" ng-change="vm.kmChanged()"  ng-model="vm.focusItem.kmrate" class="form-control curr"/></td>
		<td ng-hide="vm.isRowEditable">{{vm.focusItem.kmrate}}</td>
	</tr>

	<tr ng-show="(vm.focusItem.type == 'L' || vm.focusItem.type == 'F') || (vm.focusItem.type == 'K' && !vm.isRowEditable)" tooltip="{{vm.refs.translateService.getString('ttAmount')}}">
		<td><label for="i3">{{vm.refs.translateService.getString("Amount")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.focusItem.type == 'L'">  
		<input ng-change="vm.refs.modelService.calculateVat(vm.focusItem)" type="{{vm.number}}" id="i3" ng-model="vm.focusItem.amount" class=" form-control curr"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'L'">{{vm.focusItem.amount| currency:""}}</td>
	</tr>
	<tr  ng-show="vm.focusItem.type == 'L' || vm.focusItem.type == 'F'"  tooltip="{{vm.refs.translateService.getString('ttNet')}}">
		<td><label for="i4">{{vm.refs.translateService.getString("Net")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.focusItem.type == 'L'">  
		<input  type="{{vm.number}}" id="i4" ng-model="vm.focusItem.net" class=" form-control curr"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'L'">{{vm.focusItem.net| currency:""}}</td>
	</tr>
	<tr  ng-show="vm.focusItem.type == 'L' || vm.focusItem.type == 'F'"  tooltip="{{vm.refs.translateService.getString('ttVat')}}">
		<td><label for="i5">{{vm.refs.translateService.getString("Vat")}}</label></td>
		<td ng-show="vm.isRowEditable  && vm.focusItem.type == 'L'">
		<input  type="{{vm.number}}" id="i5" ng-model="vm.focusItem.vat" class="curr form-control"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'L'">{{vm.focusItem.vat| currency:""}}</td>
	</tr>
		<tr  ng-show="vm.focusItem.type == 'F'" tooltip="{{vm.refs.translateService.getString('ttCurrency')}}">
		<td><label for="i9">{{vm.refs.translateService.getString("Currency")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.focusItem.type == 'F'">
		<input ng-change="vm.currencyChanged()" uppercase id="i9" ng-model="vm.focusItem.currency" class="form-control narrow" maxlength="3"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'F'">{{vm.focusItem.currency}}</td>
	</tr>
	<tr  ng-show="vm.focusItem.type == 'F'" tooltip="{{vm.refs.translateService.getString('ttFxrate')}}">
		<td><label for="ia">{{vm.refs.translateService.getString("Fxrate")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.focusItem.type == 'F'">
		<input  type="{{vm.number}}" id="ia" ng-model="vm.focusItem.fx" class="curr form-control"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'F'">{{vm.focusItem.fx}}</td>
	</tr>
	<tr  ng-show="vm.focusItem.type == 'F'"  tooltip="{{vm.refs.translateService.getString('ttAmountF')}}">
		<td><label for="i6">{{vm.refs.translateService.getString("AmountF")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.focusItem.type == 'F' ">
		<input  type="{{vm.number}}" ng-change="vm.refs.modelService.calculateFx(vm.focusItem)"  id="i6" ng-model="vm.focusItem.fxamount" class="curr form-control"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'F'">{{vm.focusItem.fxamount}}</td>
	</tr>
	<tr ng-show="vm.focusItem.type == 'F'"  tooltip="{{vm.refs.translateService.getString('ttNetF')}}">
		<td><label for="i7">{{vm.refs.translateService.getString("NetF")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.focusItem.type == 'F'">
		<input type="{{vm.number}}" id="i7" ng-change="vm.refs.modelService.calculateFx(vm.focusItem)" ng-model="vm.focusItem.fxnet" class="curr form-control"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'F'">{{vm.focusItem.fxnet}}</td>
	</tr>
	<tr ng-show="vm.focusItem.type == 'F'"  tooltip="{{vm.refs.translateService.getString('ttVatF')}}">
		<td><label for="i8">{{vm.refs.translateService.getString("VatF")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.focusItem.type == 'F'">
		<input   id="i8" ng-model="vm.focusItem.fxvat"  ng-change="vm.refs.modelService.calculateFx(vm.focusItem)" class="form-control curr"/></td>
		<td ng-hide="vm.isRowEditable && vm.focusItem.type == 'F'">{{vm.focusItem.fxvat}}</td>
	</tr>

	<tr tooltip="{{vm.refs.translateService.getString('ttNominal')}}">
		<td><label for="ic">{{vm.refs.translateService.getString("Nominal")}}</label></td>
		<td ng-show="vm.isRowEditable">
	 	<select id="nomSel" ng-model="vm.focusItem.nom" class="form-control" ng-options="v.mnemonic as v.desc for v in vm.refs.modelService.getNoms()">
  		</select>
		</td>
		<td ng-hide="vm.isRowEditable">{{vm.focusItem.nom}}</td>
	</tr>

	<tr tooltip="{{vm.refs.translateService.getString('ttTags')}}">
		<td><label for="icc">{{vm.refs.translateService.getString("Tags")}}</label></td>
		<td id='tdtag' ng-show="vm.isRowEditable">
		<table><tr><td>
		<tags 
		  data-options="{addable: true, classes: {white: 'black', red: 'red'}}"
  			data-model="vm.tagsArray"></tags>
  			</td><td>
  	 	<select ng-model="vm.addedTag" class="form-control">
	 		<option ng-repeat="v in vm.refs.modelService.getTagsAsArray()" value="{{v}}">{{v}}</option>
  		</select>
  		</td></tr></table>
  		</td>
		<td ng-hide="vm.isRowEditable">{{vm.focusItem.tags}}</td>
	</tr>

	<tr tooltip="{{vm.refs.translateService.getString('ttCommentM')}}">
		<td><label for="if">{{vm.refs.translateService.getString("CommentM")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.refs.location.absUrl().indexOf('manager')>-1">
			<input  ng-change="vm.itemFieldOnchange()" class="form-control" id="if" ng-model="vm.focusItem.mcomment" class="wide"/></td>
		<td ng-hide="vm.isRowEditable && vm.refs.location.absUrl().indexOf('manager')>-1">{{vm.focusItem.mcomment}}</td>
	</tr>
	<tr tooltip="{{vm.refs.translateService.getString('ttCommentE')}}">
		<td><label for="ii">{{vm.refs.translateService.getString("CommentE")}}</label></td>
		<td ng-show="vm.isRowEditable && vm.refs.location.absUrl().indexOf('emp')>-1">
			<input  class="form-control wide" id="ii" ng-model="vm.focusItem.ecomment"/></td>
		<td ng-hide="vm.isRowEditable && vm.refs.location.absUrl().indexOf('emp')>-1">{{vm.focusItem.ecomment}}</td>
	</tr>
	<tr tooltip="{{vm.refs.translateService.getString('ttDateP')}}">
		<td><label for="ij">{{vm.refs.translateService.getString("DateP")}}</label></td>
		<td >{{vm.focusItem.dateP}}</td>
		<td  ng-hide="vm.mobile==true"><a style="margin-left:100px; right;" class="btn btn-primary " ng-click="vm.zoomout()" href="" title="">{{vm.refs.translateService.getString(vm.buttonLabel)}}</a></td>
	</tr>
	<tr tooltip="{{vm.refs.translateService.getString('ttCommentE')}}">
		<td><label for="imgb">Photo</label></td>
		<td ng-show="vm.isRowEditable && (vm.refs.location.absUrl().indexOf('emp')>-1 || vm.mobile == true)">
	<input  id="imgb" type="file" onchange="window['mainCtrl'].setFile(this)"   accept="image/*;capture=camera"  class="form-control wide">
			</td>
		<td ng-hide="vm.isRowEditable && (vm.refs.location.absUrl().indexOf('emp')>-1 || vm.mobile == true)">{{vm.focusItem.ecomment}}</td>
	</tr>


</table>
<Zimg  style="width:100%" src="https://docs.google.com/uc?id=0Bw3h_yCVtXbbOTZlNzk1ZTctZjBmZC00NmVmLWIyNTgtMDRiOGI3OGYyMGE1">
  <img ng-show="vm.focusItem.rurl && vm.focusItem.rurl.length>2" ng-src="{{vm.focusItem.rurl}}" id=rimg style="width:100%">
