<form method="get" action="/report">
<input type="hidden" name="o" value="{{vm.refs.modelService.getSettings().orgnId}}"/>
	<div class="container">

		<div class="row" id="reports">
			<div class="col-md-6">
				<h3>Payment batch dates</h3>
				<p ng-repeat="date in vm.getPaidDates()"><input id="date" type="radio" name="date" value="{{date}}">{{date}}</input></p>
			</div>
			<div class="col-md-6">
				<h3>Available reports</h3>
				<p><input id="rt" type="radio" name="rt" value="nominal">Nominal postings. <br>{{vm.refs.translateService.getString('r_np')}}</input><br><br></p>
                <p><input id="rt" type="radio" name="rt" value="reimburse">Reimbursements. <br>{{vm.refs.translateService.getString('r_r')}} </input><br><br></p>
				<p><input id="rt" type="radio" name="rt" value="vat">VAT summary. <br>{{vm.refs.translateService.getString('r_vat')}}</input><br><br></p>
				<br /><br /> 
				<input id="downloadButton" style="margin-bottom: 20px" type='submit' class="btn btn-primary" value="Download" />
			</div>
		</div>
	</div>
</form>
