				<a style="float: right;" ng-disabled="vm.pendingChanges!='enabled'" class="btn btn-primary"  ng-click="vm.saveChanges()" href="" title="">Save</a> 
				
				<table>
				<tr valign="top"><td width="50%">
					<h3>{{vm.translateService.getString('General')}}</h3>
										<br/>
					<table id="sgtab">
						<tr>
							<td><label for="s1">{{vm.translateService.getString('coname')}}</label></td>
							<td><input id="s1" ng-model="vm.settings.coname"/></td>
						</tr>
						<tr>
							<td><label for="s2">{{vm.translateService.getString('lcurrency')}} (eg. THB or MYR)</label></td>
							<td><input id="s2" ng-model="vm.settings.baseiso"/></td>
						</tr>
						<tr>
							<td><label for="s3">{{vm.translateService.getString('Tags')}}</label></td>
							<td><input id="s3" ng-model="vm.settings.tags"/></td>
						</tr>
						<tr>
							<td><label for="s4">{{vm.translateService.getString('Kmrate')}} per km/mile</label></td>
							<td><input id="s4" ng-model="vm.settings.kmrate"/></td>
						</tr>
						<tr>
							<td><label for="s4">{{vm.translateService.getString('Lang')}}</label></td>
							<td><input id="s4" ng-model="vm.settings.defaultLang"/></td>
						</tr>
						<tr>
							<td><label for="s4">{{vm.translateService.getString('Vatrate')}}</label></td>
							<td><input id="s4" ng-model="vm.settings.defaultVatRate"/></td>
						</tr>
					</table>
				</td><td>
					<h3>{{vm.translateService.getString('Staff')}}</h3>
										<br/>
					<smart-table 
						class="table table-striped" 
						rows="vm.modelService.getEmp()"
						columns="vm.empColumnCollection"
						config="vm.settingsConfig">
					</smart-table>
					<a class="btn btn-success btn-xs" ng-click="vm.newEmp()" href="" title="">{{vm.translateService.getString('NewEmployee')}}</a>
				</td></tr>
				<tr  valign="top"><td style="padding-top: 60px;">
					<h3>{{vm.translateService.getString('Nominal')}}</h3>
					<br/>
										{{ZZvm.noms}}
					<smart-table 
						class="table table-striped" 
						rows="vm.modelService.getNoms()"
						columns="vm.nomsColumnCollection"
						config="vm.settingsConfig">
					</smart-table>
					<a class="btn btn-success btn-xs" ng-click="vm.newNom()" href="" title="">{{vm.translateService.getString('NewNominal')}}</a>
				</td><td style="padding-top: 60px;">
					<h3>{{vm.translateService.getString('Fxrates')}}</h3>
					<br/>
					{{ZZvm.vxrates}}
					<smart-table 
						class="table table-striped" 
						rows="vm.modelService.getFxrates()"
						columns="vm.fxratesColumnCollection"
						config="vm.settingsConfig">
					</smart-table>
					
					<a class="btn btn-success btn-xs" ng-click="vm.newRate()" href="" title="">{{vm.translateService.getString('NewRate')}}</a>
				</td></tr>
				</table>
					<br/><br/>
				<a style="float: right;" ng-disabled="vm.pendingChanges!='enabled'"  class="btn btn-primary" ng-click="vm.saveChanges()" href="" title="">Save</a> 