<div >
 <img 
 ng-click="$parent.$parent.$parent.$parent.vm.zoomin(dataRow)" alt="Zoom" src="/app/images/mag.png">
 <i 
 ng-click="$parent.$parent.$parent.$parent.vm.unDeleteItem(dataRow,dataCollection)" alt="undelete" class="icon-ok icon-large"></i>

</div>
