<div >
 <img 
 ng-click="$parent.$parent.$parent.$parent.vm.zoomin(dataRow)" alt="Zoom" src="/app/images/mag.png">
 <i  
 ng-click="$parent.$parent.$parent.$parent.vm.deleteItem(dataRow, dataCollection)" alt="undelete" class="icon-trash icon-large"></i>

</div>
