<!doctype html>
<!-- x_nodeploy 

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<base href="/app/" /> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Free Web Expenses - Employee</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/main.css -->
<link rel="stylesheet" href="styles/magic-bootstrap.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/pace2.css">
<link href="styles/font-awesome.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="styles/angular-tags-0.2.10.css" rel="stylesheet">

<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}</style>
<!-- endbuild -->
<script src="/app/bower_components/pace/pace.js" type="text/javascript"></script>

<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
<script type="text/javascript">
	WebFont.load({
		google : {
			families : [ 'Droid Sans', 'Droid Serif' ]
		}
	});
</script>
</head>
<body ng-app="exApp" style="background-color: #EEFFE0">

	<!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

	<!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<!-- Add your site or application content here -->


	<div ng-cloak="yes"  class="maincontainer">
		<div ng-controller="MainCtrl">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/{{'#'+vm.lang}}">Home</a>
                            </li>
                            <!--
                            <li>
                                <a href="/bhowto.html{{'#'+vm.lang}}">How to?</a>
                            </li>-->
                        </ul>
                        <div  class="navbar-form navbar-right">
                            <a style="color:white" href="manager.html">
                                <button class="btn btn-primary">
                                    <span ng-bind="vm.refs.translateService.getString('w_manager')">Manager login</span>
                                </button>
                            </a>
                            <a style="color:white" href="emp.html">
                                <button class="btn btn-success"  disabled>
                                    <span ng-bind="vm.refs.translateService.getString('w_employee')">Employee login</span>
                                </button>
                            </a>
                            <a style="color:white" href="/dd/logout">
                                <button class="btn btn-warning"  >
                                    <span Zng-bind="vm.refs.translateService.getString('w_employee')">Logout {{vm.config.a.e}}</span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <!--/.navbar-collapse -->
                </div>
            </div>




			<tabset style="margin-top: 60px" id="cntabs" >
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttInbox')}}">{{vm.refs.translateService.getString('Outbox')}} <sup><span class="badge">{{vm.refs.modelService.getOutbox().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getOutbox()" columns="vm.outboxColumnCollection" config="vm.globalConfig"></smart-table>
				 <a id="sendButton" class="btn btn-primary" ng-show="vm.refs.modelService.getOutbox().length>0" href="" ng-click="vm.sendOutbox()"   style="float:right; top: 0px; display: inline-block;">{{vm.refs.translateService.getString('Send')}}</a>
				 <a id="newButton" class="btn btn-success" href="" ng-click="vm.newExitem()" title="New"  style="margin-right: 10px;float:right; top: 0px; display: inline-block;">{{vm.refs.translateService.getString('NewItem')}}</a>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttInbox')}}">{{vm.refs.translateService.getString('Awaiting')}} <sup><span class="badge">{{vm.refs.modelService.getNew().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getNew()" columns="vm.newColumnCollection" config="vm.globalConfig"></smart-table>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttQuestion')}}">{{vm.refs.translateService.getString('Question')}} <sup><span class="badge">{{vm.refs.modelService.getQuery().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getQuery()" columns="vm.queryColumnCollection" config="vm.globalConfig"></smart-table>
				    <a class="btn btn-primary" href="" ng-click="vm.saveQuery()" title="Bootstrap 3 themes generator"  style="float:right; top: 0px; display: inline-block;">{{vm.refs.translateService.getString('Send')}}</a>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttApproved')}}">{{vm.refs.translateService.getString('Approved')}} <sup><span class="badge">{{vm.refs.modelService.getApproved().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getApproved()" columns="vm.approvedColumnCollection" config="vm.globalConfig"></smart-table>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttPaid')}}">{{vm.refs.translateService.getString('Paid')}} <sup><span class="badge">{{vm.refs.modelService.getPaid().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getPaid()" columns="vm.paidColumnCollection" config="vm.globalConfig"></smart-table>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttRejected')}}">{{vm.refs.translateService.getString('Rejected')}} <sup><span class="badge">{{vm.refs.modelService.getRejected().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getRejected()" columns="vm.rejectedColumnCollection" config="vm.globalConfig"></smart-table>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab > <tab-heading ng-show="vm.refs.modelService.getDeleted().length > 0" tooltip="{{vm.refs.translateService.getString('ttDeleted')}}">{{vm.refs.translateService.getString('Deleted')}} <sup><span class="badge">{{vm.refs.modelService.getDeleted().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getDeleted()" columns="vm.deletedColumnCollection" config="vm.globalConfig"></smart-table>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			</tabset>

		</div>
	</div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/lawnchair/lawnchair.min.061.js" type="text/javascript"></script>
	<script src="bower_components/lawnchair/lawnchaira.indexdb.min.js" type="text/javascript"></script>
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angularui/ui-bootstrap-custom-0.6.0.min.js" type="text/javascript"></script>
	<script src="bower_components/angularui/ui-bootstrap-custom-tpls-0.6.0.min.js" type="text/javascript"></script>

	<script src="bower_components/smarttable/smarttable-debug.js" type="text/javascript"></script>
	
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scriptsm.js -->
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/common/tools.js" type="text/javascript"></script>
	<script src="scripts/controllers/maincontroller-abstract.js" type="text/javascript"></script>
	<script src="scripts/controllers/maincontroller.js" type="text/javascript"></script>
	<script src="scripts/controllers/settingscontroller.js" type="text/javascript"></script>
	<script src="scripts/services/smarttableservice.js" type="text/javascript"></script>
	<script src="scripts/services/translateservice.js" type="text/javascript"></script>
	<script src="scripts/services/storageservice.js" type="text/javascript"></script>
	<script src="scripts/services/exResourceService.js" type="text/javascript"></script>
	<script src="scripts/services/httpdatasourceservice2.js" type="text/javascript"></script>
	<script src="scripts/services/driveservice.js" type="text/javascript"></script>
	<script src="scripts/services/modelservice.js" type="text/javascript"></script>
	<script src="scripts/directives/directives.js" type="text/javascript"></script>
	<script src="scripts/directives/angular-tags-0.2.10.js" type="text/javascript"></script>
	
	<!-- endbuild -->
	<!-- 
	<zscript src="zcomponents/nggrid/jquery10.min.js" type="text/javascript"></zscript>
	<zscript src="zzcomponents/angular-115/angular-animate.min.js" type="text/javascript"></zscript>
	<script src="components/angular-115/angular.min.js" type="text/javascript"></script>
	<zscript src="zcomponents/angular-12r2/angular.js" type="text/javascript"></zscript>
	<zscript src="zcomponents/angular-12r2/angular-animate.min.js" type="text/javascript"></zscript>
	<zscript src="zcomponents/angular-12r2/angular-route.min.js" type="text/javascript"></zscript>
	<zscript src="zcomponents/angular-12r2/angular-sanitize.min.js" type="text/javascript"></zscript>
	<script src="components/angularui/ui-bootstrap-custom-0.6.0.min.js" type="text/javascript"></script>
	<script src="components/angularui/ui-bootstrap-custom-tpls-0.6.0.min.js" type="text/javascript"></script>
	<script src="components/lawnchair/lawnchair.min.061.js" type="text/javascript"></script>
	<script src="components/lawnchair/lawnchaira.indexdb.min.js" type="text/javascript"></script>

	<zscript src="ZZcomponents/nggrid/ng-grid-2.0.7.min.js" type="text/javascript"></zscript>
	<zscript src="zzcomponents/smarttable/smarttable.min.js" type="text/javascript"></zscript>
	<script src="components/smarttable/smarttable-debug.js" type="text/javascript"></script>
	<zscript src="ZZcomponents/smarttable/stfork.js" type="text/javascript"></zscript>
	<!-- https://github.com/openmindlab/Smart-Table/commit/ede9ba9803e089a04b8673f45971df51005cff11 -->

	<!-- build:js scripts/scripts.js 
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/common/tools.js" type="text/javascript"></script>
	<script src="scripts/controllers/mainController.js" type="text/javascript"></script>
	<script src="scripts/controllers/settingsController.js" type="text/javascript"></script>
	<script src="scripts/services/smarttableService.js" type="text/javascript"></script>
	<script src="scripts/services/storageService.js" type="text/javascript"></script>
	<script src="scripts/services/translateService.js" type="text/javascript"></script>
	<script src="scripts/services/httpDatasourceService2.js" type="text/javascript"></script>
	<script src="scripts/services/modelService.js" type="text/javascript"></script>
	<script src="scripts/services/driveService.js" type="text/javascript"></script>
	<script src="scripts/directives/directives.js" type="text/javascript"></script>
	<script src="scripts/directives/angular-tags-0.2.10.js" type="text/javascript"></script>
	<!-- esndbuild -->
	<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

	
</body>
</html>
