<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" Zmanifest="cache.manifest">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Free Web Expenses</title>
<meta name="description" content="">
<meta name=”mobile-web-app-capable” content=”yes”>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="shortcut icon" sizes="196x196" href="images/homeicon196.png">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/main.css -->
<link rel="stylesheet" href="topcoat-0.8.0/css/topcoat-mobile-dark.min.css">
<link rel="stylesheet" href="styles/pace2.css">
<link href="styles/font-awesome.min.css" rel="stylesheet">
<link href="styles/angular-tags-0.2.10.css" rel="stylesheet">
<!-- endbuild -->

<style type="text/css">
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak
	{
	display: none !important;
}

body {
	font-family: sans-serif;
}

#toggleButton div {
	line-height: 12px;
	font-size: 80px
}
#qmenu li {
	padding-bottom: 1em
}
#maintable {
	margin-top:4em;
}
.itemlist {
 width:100%;
 table-layout:fixed;
  width:100%
 }
.itemleft {
 	text-align: left
 }
.itemright {
 	text-align: right;
 	float: right
 }
.item1 {
 	color: yellow;
 }
.item2 {
 	color: cadetblue;
 	margin-bottom: 1em;
 }
.topcoat-notification {
	padding: .05em .2em .1em .15em;
	border-radius: 2px;
	background-color: #ec514e;
	color: #fff;
}
.noitems {
	text-align: center;
	color: yellow;
}
</style>
<script src="/app/bower_components/pace/pace.js" type="text/javascript"></script>

<script>
	window.scrollTo(0, 1);
</script>
</head>
<body ng-app="exApp">
	<div id="lahat" ng-cloak="yes">
		<div ng-controller="MainmCtrl">
			<nav class="topcoat-navigation-bar" role="navigation" style="padding-left: 0px;position: fixed;width: 100%; height: 4em; z-index: 999">
				<div id="toggleButton" ng-click="vm.toggleNav()" ng-animate="{show: 'slide-show', hide: 'slide-hide'}" type="button" style='display: inline-block;: 10px'  data-toggle="collapse" data-target=".navbar-ex8-collapse" class="topcoat-buttonZ">
					 <div class="icon-bar">-</div> 
					 <div class="icon-bar">-</div> 
					 <div class="icon-bar">-</div>
				</div>
				<div style="vertical-align: top;padding-top: 0.6em; padding-left: 0.5em;display: inline-block; color: white">{{vm.currentTabTitle}}</div>

				<div style="float: right;">
					<button id="sendOButton" ng-show="vm.focusItem == undefined &&(vm.currentTab=='O' && vm.refs.modelService.getOutbox().length > 0) " ng-click="vm.sendOutbox()" type="button" class="topcoat-button">{{vm.refs.translateService.getString('Send')}}</button>
					<button id="sendQButton" ng-show="vm.focusItem == undefined &&(vm.currentTab=='Q' && vm.refs.modelService.getQuery().length > 0) " ng-click="vm.saveQuery()" type="button" class="topcoat-button">{{vm.refs.translateService.getString('Send')}}</button>
					<button id="newButton" ng-show="(vm.focusItem == undefined && vm.currentTab=='O' ) " ng-click="vm.newExitem()" type="button" class="topcoat-button">{{vm.refs.translateService.getString('NewItem')}}</button>
					<button id="saveButton" ng-show="vm.currentTab=='O' && vm.focusItem!=undefined" ng-click="vm.zoomout()" type="button" class="topcoat-button">Save</button>
				</div>
			</nav>
			
		<table style="border-spacing:0px"><tr>
		<td style="vertical-align: top">
		<!-- Queue menu -->
		<div id="qmenu" style="margin-top:4em;  min-width: 15em;background-color: #595b5b; color:white; float: left; relative; z-index: 98" ng-show="vm.showmenu" >
			<ul  class="topcoat-list__container" style="border-top: 0px;">
				<li  class="topcoat-list__item" ng-click="vm.tabClicked('O',true)" class="active">{{vm.refs.translateService.getString('Outbox')}} <sup><span ng-show="vm.refs.modelService.getOutbox().length > 0" class="topcoat-notification">{{vm.refs.modelService.getOutbox().length}}</span></li>
				<li class="topcoat-list__item" ng-click="vm.tabClicked('N',true)" class="active">{{vm.refs.translateService.getString('Awaiting')}} <sup><span ng-show="vm.refs.modelService.getNew().length > 0" class="topcoat-notification">{{vm.refs.modelService.getNew().length}}</span></li>
				<li class="topcoat-list__item" ng-click="vm.tabClicked('Q',true)" class="active">{{vm.refs.translateService.getString('Query')}} <sup><span ng-show="vm.refs.modelService.getQuery().length > 0" class="topcoat-notification">{{vm.refs.modelService.getQuery().length}}</span></li>
				<li class="topcoat-list__item" ng-click="vm.tabClicked('A',true)" class="active">{{vm.refs.translateService.getString('Approved')}} <sup><span ng-show="vm.refs.modelService.getApproved().length > 0" class="topcoat-notification">{{vm.refs.modelService.getApproved().length}}</span></li>
				<li class="topcoat-list__item" id="P" ng-click="vm.tabClicked('P',true)" class="active">{{vm.refs.translateService.getString('Paid')}} <sup><span ng-show="vm.refs.modelService.getPaid().length > 0" class="topcoat-notification">{{vm.refs.modelService.getPaid().length}}</span></li>
				<li class="topcoat-list__item" ng-click="vm.tabClicked('R',true)" class="active">{{vm.refs.translateService.getString('Rejected')}} <sup><span ng-show="vm.refs.modelService.getRejected().length > 0"  class="topcoat-notification">{{vm.refs.modelService.getRejected().length}}</span></li>
			</ul>
		</div>
</td>
<td style="vertical-align: top">

		<div id="maintable">
			<div ng-show="vm.focusItem==undefined" id="main">
				<div ng-if="vm.currentTab=='O'">
					<span class="noitems" ng-show='vm.refs.modelService.getOutbox().length == 0'>{{vm.refs.translateService.getString('NoItems')}}</span>
					<table  class="itemlist">
						<tr  ng-repeat="item in vm.refs.modelService.getOutbox() track by $index">
							<td style="width:100%" ng-click="vm.zoomin(item)">
								<div  class="item1">{{item.desc}}</div>
								<div class="item2">
									<span class="itemleft">{{item.dateI}}</span><span class="itemright">{{item.amount| currency:""}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div ng-if="vm.currentTab=='N'">
					<span class="noitems" ng-show='vm.refs.modelService.getNew().length == 0'>{{vm.refs.translateService.getString('NoItems')}}</span>
					<table class="itemlist">
						<tr class="topcoat-list__item" ng-repeat="item in vm.refs.modelService.getNew() track by $index">
							<td  class="topcoat-list__item" ng-click="vm.zoomin(item)">
								<div class="item1">{{item.desc}}</div>
								<div class="item2">
									<span class="itemleft">{{item.dateI}}</span><span class="itemright">{{item.amount| currency:""}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div ng-if="vm.currentTab=='Q'">
					<span class="noitems" ng-show='vm.refs.modelService.getQuery().length == 0'>{{vm.refs.translateService.getString('NoItems')}}</span>
					<table class="itemlist">
						<tr ng-repeat="item in vm.refs.modelService.getQuery() track by $index">
							<td class="topcoat-list__item"  ng-click="vm.zoomin(item)">
								<div class="item1">{{item.desc}}</div>
								<div class="item2">
									<span class="itemleft">{{item.dateI}}</span><span class="itemright">{{item.amount| currency:""}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div ng-if="vm.currentTab=='A'">
					<span class="noitems" ng-show='vm.refs.modelService.getApproved().length == 0'>{{vm.refs.translateService.getString('NoItems')}}</span>
					<table class="itemlist">
						<tr ng-repeat="item in vm.refs.modelService.getApproved() track by $index">
							<td class="topcoat-list__item" ng-click="vm.zoomin(item)">
								<div class="item1">{{item.desc}}</div>
								<div class="item2">
									<span class="itemleft">{{item.dateI}}</span><span class="itemright">{{item.amount| currency:""}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div ng-if="vm.currentTab=='P'">
					<span class="noitems" ng-show='vm.refs.modelService.getPaid().length == 0'>{{vm.refs.translateService.getString('NoItems')}}</span>
					<table class="itemlist">
						<tr ng-repeat="item in vm.refs.modelService.getPaid() track by $index">
							<td class="topcoat-list__item" ng-click="vm.zoomin(item)">
								<div class="item1">{{item.desc}}</div>
								<div class="item2">
									<span class="itemleft">{{item.dateI}}</span><span class="itemright">{{item.amount| currency:""}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div ng-if="vm.currentTab=='R'">
					<span class="noitems" ng-show='vm.refs.modelService.getRejected().length == 0'>{{vm.refs.translateService.getString('NoItems')}}</span>
					<table class="itemlist">
						<tr ng-repeat="item in vm.refs.modelService.getRejected() track by $index">
							<td class="topcoat-list__item" ng-click="vm.zoomin(item)">
								<div class="item1">{{item.desc}}</div>
								<div class="item2">
									<span class="itemleft">{{item.dateI}}</span><span class="itemright">{{item.amount| currency:""}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
			</td>
			</tr></table>
			<div id="itemForm" ng-show="vm.focusItem!=undefined">
				<div ng-include="'views/itemEditM.html'"></div>
			</div>
		</div>
	</div>
	</div>
	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/lawnchair/lawnchair.min.061.js" type="text/javascript"></script>
	<script src="bower_components/lawnchair/lawnchaira.indexdb.min.js" type="text/javascript"></script>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angularui/ui-bootstrap-custom-0.6.0.min.js" type="text/javascript"></script>
	<script src="bower_components/angularui/ui-bootstrap-custom-tpls-0.6.0.min.js" type="text/javascript"></script>

	<script src="bower_components/smarttable/smarttable-debug.js" type="text/javascript"></script>

	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scriptsm.js -->
	<script src="scripts/directives/directives.js" type="text/javascript"></script>
	<script src="scripts/directives/angular-tags-0.2.10.js" type="text/javascript"></script>
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/common/tools.js" type="text/javascript"></script>
	<script src="scripts/controllers/maincontroller-abstract.js" type="text/javascript"></script>
	<script src="scripts/controllers/maincontroller-m.js" type="text/javascript"></script>
	<script src="scripts/controllers/settingscontroller.js" type="text/javascript"></script>
	<script src="scripts/services/smarttableservice.js" type="text/javascript"></script>
	<script src="scripts/services/translateservice.js" type="text/javascript"></script>
	<script src="scripts/services/storageservice.js" type="text/javascript"></script>
	<script src="scripts/services/exResourceService.js" type="text/javascript"></script>
	<script src="scripts/services/httpdatasourceservice2.js" type="text/javascript"></script>
	<script src="scripts/services/driveservice.js" type="text/javascript"></script>
	<script src="scripts/services/modelservice.js" type="text/javascript"></script>

	<!-- endbuild -->
	<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>


</body>
</html>
