<!doctype html>
<html>
<head>
<title>Exitem CRUD</title>
<meta charset="utf-8">
<link rel="stylesheet" href="styles/bs3/bootswatch.css">
<style type="text/css">
label {
	vertical-align: top;
	padding-right: 10px;
	padding-top: 20px;
	color: cyan;
}

.item:hover {
	background-color: black;
	cursor: pointer;
}
.yellow {
	color: yellow;
}

form textarea,input {
	width: 100%
}
</style>
</head>


<body>
	<div x-ng-cloak ng-app="exApp" ng-controller="ExitemcrudCtrl">
		<div id='auth' style="padding: 10px" ng-hide='vm.haveToken==true'>
		<label>Scope</label>
			<input id="scope" ng-model="vm.drivescope" style="width: 300px; margin: 20px">
		<label>Client Id</label>
			<input id="clientId" ng-model="vm.clientId" style="width: 300px; margin: 20px">
			<div class="btn btn-success" ng-click="vm.doAuth()">Authorise</div>
			<br>Privacy: Authorising will only create an access token in this browser session. None of your credentials or permissions granted will be used, other than by you, here, now.
			<br><br>You can use this page in conjunction with your own client ID for additional privacy and in order to test <b>drive.file</b> scope related issues. 
			<br>To do this, you will need to make sure that you have added <b>{{vm.dorigin}}</b> to the list of Javascript origins in the API Console (https://console.developers.google.com then ""APIs & auth"/"Credentials"/"Client ID for web application"/"Javascript Origins")
			<br><br>The access token will NOT be refreshed. Therefore after one hour you will need to reload this page and re-authorise.
			<br><br><br><br>This app was written to assist Google Drive developers. It is therefore expected that you will have the browser dev console open in order to see what's happening under the covers.  
			<hr>
		</div>
		<div class="container" style="width: 100%">
			<div class="row">
				<div class="col-md-1">
					<label for='q'>q</label>
					<textarea id='q' style="width: 100%" ng-model="vm.q" cols="" rows="5"></textarea><br>
					<label for='maxResults'>maxResults</label>
					<input id='maxResults' ng-model="vm.maxResults" ><br>
					<br>
                    <div ng-show="vm.haveToken" style="margin-left: 40%" class="btn btn-success" ng-click="vm.doList()">List</div>
					<img src="img/drive-spinner.gif" style="width: 20px; height: 20px" ng-show="vm.driveActive" alt=""> <span ng-show="vm.driveError">There was a Drive error. Check dev console for details</span>
					<hr style="margin-top: 60px">
				
			<!-- 
					<br>
					<label>Upload media content to an existing file</label>
					<input type="file" onchange="angular.element(this).scope().vm.fileOnChangeUpdate(this.files[0],angular.element(this).scope())">
					<span style="font-size: small">The current form id will be used to identify the file, and mime type will be used to define content mime</span>
				 -->
				</div>
				<div class="col-md-3" style="margin-top: 20px">
					<div class="item" ng-repeat="f in vm.listResults" ng-click="vm.doSelect(f)" ng-class="{yellow: f.id==vm.focussedItem.id}">
						<b><span style="color:yellow">{{f.stat}}</span> {{f.email}} {{f.desc}} </b><br> <span style="font-size: small">{{f.id}}</span>
					</div>
					<br>
					<div ng-show="vm.listResults.length > 0" class="btn btn-info" ng-click="vm.doClearResults()">Clear results</div>
				</div>
				<div class="col-md-3">
				<!-- 
				{{vm.parentsList}}
				<pre>{{vm.focussedItem.parents | json}}</pre> -->
					<form action="">
						<div>
							<label>email</label><input ng-model='vm.focussedItem.email'>
						</div>
						<div>
							<label>desc</label>
							<textarea ng-model='vm.focussedItem.desc' cols="" rows=""></textarea>
						</div>
						<div>
							<label>stat</label><input ng-model='vm.focussedItem.stat'>
						</div>
						<div>
							<label>parents</label>
							<textarea cols="" rows="" ng-model=vm.parentsList ng-change=vm.parentsListToJson() placeholder="Parent IDs separated by commas"></textarea>
						</div>
						</form>
						<div ng-show="vm.haveToken==true">
							<div ng-disabled="!vm.focussedItem.id" class="btn btn-success" ng-click="vm.doUpdate()">Update</div>
							<div ng-disabled="!vm.focussedItem.id" class="btn btn-danger" ng-click="vm.doDelete()">Delete</div>
							<div class="btn btn-warning" ng-click="vm.doInsert()">Insert</div>
							<div class="btn btn-info" ng-click="vm.focussedItem={}">Clear form</div>
							<img src="img/drive-spinner.gif" style="width: 20px; height: 20px" ng-show="vm.driveActive" alt=""> <span ng-show="vm.driveError">There was a Drive error. Check dev console for details</span>
							<form id="fileForm" style="border: 1px solid grey; border-radius: 5px;margin-top: 20px;padding: 5px ">
					 			<label><span ng-hide='vm.focussedItem.id'>Insert a new file with media</span> <span ng-show='vm.focussedItem.id'>Upload media to this file and update metadata</span></label>
					 			<input type="file" onchange="angular.element(this).scope().vm.fileOnChange(this.files[0],angular.element(this).scope())">
					 			<span style="font-size: small">The current form values will be used as metadata for the new file (POST), <br>or if the form is an existing file, this will upload new content to the existing file (PUT)</span>
							</form>
						</div>
						
				</div>
				<div class="col-md-5">
					<pre ng-show="vm.focussedItem.stat.length>0 || vm.focussedItem.desc.length>0 " style="margin-top: 48px">{{vm.focussedItem|json }}</pre>
				</div>
			</div>
		</div>

	</div>
</body>
<!-- 1212 version -->
<script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
<script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>

<script type="text/javascript">
	var exApp = angular.module('exApp', [ 'ngResource' ]);
</script>
<script src="scripts/services/fileReaderService.js" type="text/javascript"></script> 
<script src="scripts/services/exResourceService.js" type="text/javascript"></script> 
<script src="scripts/exitemcrud.js" type="text/javascript"></script> 
<script src="https://apis.google.com/js/client.js" type="text/javascript"></script> 
<script src="scripts/common/toolsjsfromcnw.js" type="text/javascript"></script>
</html>