<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<base href="/app/" /> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Free Web Expenses - Manager</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/main.css -->
<link rel="stylesheet" href="styles/magic-bootstrap.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/pace2.css">
<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}</style>
<!-- endbuild -->
<script src="/app/bower_components/pace/pace.js" type="text/javascript"></script>

<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
<script type="text/javascript">
	WebFont.load({
		google : {
			families : [ 'Droid Sans', 'Droid Serif' ]
		}
	});
</script>
</head>
<body ng-app="exApp" style="background-color: #D3D6FF;">

	<!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

	<!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<!-- Add your site or application content here -->


	<div ng-cloak="yes"  class="maincontainer">
		<div ng-controller="MainCtrl">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/{{'#'+vm.lang}}">Home</a>
                            </li>
                            <!--
                            <li>
                                <a href="/bhowto.html{{'#'+vm.lang}}">How to?</a>
                            </li>-->
                        </ul>
                        <div  class="navbar-form navbar-right">
                            <a style="color:white" href="manager.html">
                                <button class="btn btn-primary" disabled>
                                    <span ng-bind="vm.refs.translateService.getString('w_manager')">Manager login</span>
                                </button>
                            </a>
                            <a style="color:white" href="emp.html">
                                <button class="btn btn-success">
                                    <span ng-bind="vm.refs.translateService.getString('w_employee')">Employee login</span>
                                </button>
                            </a>
                            <a style="color:white" href="/dd/logout" tooltip="{{vm.config.emp.email}}" tooltip-placement="bottom">
                                <button class="btn btn-warning"  >
                                    <span Zng-bind="vm.refs.translateService.getString('w_employee')">Logout {{vm.config.a.e}}</span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <!--/.navbar-collapse -->
                </div>
            </div>

	<div id='debug' style='zdisplay:none'>
		{{vm.refs.translateService.getString('ttInbox')}}
		<span tooltip="{{vm.refs.translateService.getString('ttInbox')}}">asdsdfsdfsdf</span>
		{{Zvm.focusItem}}
		{{Zvm.refs.modelService.getNew()[0]}}
			<button ng-click='vm.showHiddenColumns()'>Show hidden columns</button>
			<button ng-click='vm.hideOneColumn()'>hide 1 column</button>
			<button ng-click='vm.focusItem = vm.refs.modelService.getNew()[0]'>zoom in</button>{{Zvm.focusItem}}
			<button ng-click='vm.focusItem = undefined'>zoom out</button>
				<button ng-click='vm.langSwitch("en")'>English</button>
				<button ng-click='vm.langSwitch("fr")'>French</button>
				<button ng-click='vm.langSwitch("th")'>Thai</button>
				<button ng-click='vm.langSwitch("tl")'>Tagalog</button>
				<button ng-click='vm.langSwitch("id")'>Indonesian</button>
				yes={{vm.refs.translateService.getString("yes")}}
			</div>



			<tabset style="margin-top: 40px" id="cntabs" >
			 <div ng-show="vm.signup" style="color: rgb(28, 105, 17);font-size: xx-large;padding: 2em;">Welcome to "Free Web Expenses". {{vm.refs.translateService.getString('signup_settings')}}<br></div>
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttInbox')}}">{{vm.refs.translateService.getString('Inbox')}} <sup><span class="badge">{{vm.refs.modelService.getNew().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getNew()" columns="vm.newColumnCollection" config="vm.globalConfig"></smart-table>
				    <a id="processButton" class="btn btn-primary" href="" ng-click="vm.saveNew()" title=""  style="float:right; top: 0px; display: inline-block;">{{vm.refs.translateService.getString('Save')}}</a>
                    <a id="refreshButton" ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttQuestion')}}">{{vm.refs.translateService.getString('Question')}} <sup><span class="badge">{{vm.refs.modelService.getQuery().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getQuery()" columns="vm.queryColumnCollection" config="vm.globalConfig"></smart-table>
				    <a class="btn btn-primary" href="" ng-click="vm.saveQuery()"   style="float:right; top: 0px; display: inline-block;">{{vm.refs.translateService.getString('Save')}}</a>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttApproved')}}">{{vm.refs.translateService.getString('Approved')}} <sup><span class="badge">{{vm.refs.modelService.getApproved().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getApproved()" columns="vm.approvedColumnCollection" config="vm.globalConfig"></smart-table>
				    <a id="processButtonA"class="btn btn-primary" href="" ng-click="vm.saveApproved()" title=""  style="float:right; top: 0px; display: inline-block;">{{vm.refs.translateService.getString('Save')}}</a>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>

				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttPaid')}}">{{vm.refs.translateService.getString('Paid')}} <sup><span class="badge">{{vm.refs.modelService.getPaid().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getPaid()" columns="vm.paidColumnCollection" config="vm.globalConfig"></smart-table>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
			<tab> <tab-heading tooltip="{{vm.refs.translateService.getString('ttRejected')}}">{{vm.refs.translateService.getString('Rejected')}} <sup><span class="badge">{{vm.refs.modelService.getRejected().length}}</span></sup></tab-heading> <!--  <pre>{ { {{vm.refs.modelService.getNew()}} } }</pre> -->
			 <div style="position: relative; ">
				<div ng-hide="vm.focusItem.id!=undefined"  ng-animate="{show: 'slide-show', hide: 'slide-hide'}" style="position: absolute; top: 0px; display: inline-block;"> 
					<smart-table  class="table table-striped" rows="vm.refs.modelService.getRejected()" columns="vm.rejectedColumnCollection" config="vm.globalConfig"></smart-table>
                    <a ng-click="vm.refs.modelService.refreshExitems(true)" class="btn btn-info" style="margin-right:2em;float:right; top: 0px; display: inline-block;">Refresh </a>
				</div>
				<div ng-show="vm.focusItem.id!=undefined" ng-animate="{show: 'slidez-show', hide: 'slidez-hide'}"  style="position: absolute; top: 0px; display: inline-block;" >
				  <div ng-include="'views/itemEdit.html'"></div> 
				</div>
			  </div>			  
			 </tab> 
<!-- 			<tab> </tab> <tab> </tab> <tab> </tab> <tab> </tab> -->
 
			<tab style="margin-left: 20em"> <tab-heading  tooltip="{{vm.refs.translateService.getString('ttReports')}}">{{vm.refs.translateService.getString('Reports')}}</tab-heading>
				<div>
					<ng-include src="'/app/views/reports.html'"></ng-include>
				</div>
			</tab>
			<tab > <tab-heading style="{{vm.signup==true?'font-weight: bold;background: yellow;color: rgb(28, 105, 17)':''}}" tooltip="{{vm.refs.translateService.getString('ttSettings')}}">{{vm.refs.translateService.getString('Settings')}}</tab-heading>
				<div  ng-controller="SettingsCtrl">
					<ng-include src="'/app/views/settings.html'"></ng-include>
				</div>
			</tab>
			 </tabset>

		</div>

	</div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angularui/ui-bootstrap-custom-0.6.0.min.js" type="text/javascript"></script>
	<script src="bower_components/angularui/ui-bootstrap-custom-tpls-0.6.0.min.js" type="text/javascript"></script>

	<script src="bower_components/smarttable/smarttable-debug.js" type="text/javascript"></script>
	
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scriptsm.js -->
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/common/tools.js" type="text/javascript"></script>
	<script src="scripts/controllers/maincontroller-abstract.js" type="text/javascript"></script>
	<script src="scripts/controllers/maincontroller.js" type="text/javascript"></script>
	<script src="scripts/controllers/settingscontroller.js" type="text/javascript"></script>
	<script src="scripts/services/smarttableservice.js" type="text/javascript"></script>
	<script src="scripts/services/translateservice.js" type="text/javascript"></script>
	<script src="scripts/services/storageservice.js" type="text/javascript"></script>
	<script src="scripts/services/exResourceService.js" type="text/javascript"></script>
	<script src="scripts/services/httpdatasourceservice2.js" type="text/javascript"></script>
	<script src="scripts/services/driveservice.js" type="text/javascript"></script>
	<script src="scripts/services/modelservice.js" type="text/javascript"></script>
	<script src="scripts/directives/directives.js" type="text/javascript"></script>
	<script src="scripts/directives/angular-tags-0.2.10.js" type="text/javascript"></script>
	
	<!-- endbuild -->
	<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

	
</body>
</html>
