
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        Free Web Expenses - Your business, your cloud
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">

    <link href="css/screen-c3d8769d0e.css" rel="stylesheet">
</head>

<body style="line-height: 190%; 18 px; Zbackground-image: url('dd/img/back3.png'); background-repeat: repeat-y; background-size: 100%" data-ng-app="exApp" data-ng-controller="StaticCtrl">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/#{{vm.lang}}">Home</a>
                </li>
<!--
                <li>
                    <a href="/bhowto.html#{{vm.lang}}">How to?</a>
                </li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li data-ng-repeat="lang in vm.refs.translateService.getLangs()">
                            <a href="#{{lang[0]}}">{{lang[1]}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div  class="navbar-form navbar-right">
                <a style="color:white" href="/app/signup#{{vm.lang}}">
                    <button class="btn btn-warning">
                        <span >OK. Go for it!</span>
                    </button>
                </a>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="container">
    <p>
<br/><br/>
    </p>

</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">

        <div class="col-md-4">
                <h2>
                    <span ng-bind="vm.refs.translateService.getString('w_s1')">Step 1. Give Free Web Expenses permission to store files in your Google Drive and access your Calendar</span>
                </h2>
                <p>
                </p>
                   <span ng-bind="vm.refs.translateService.getString('w_s2')">
                       We use something called Oauth, which is a web mechanism by which you tell Google that you are giving Free Web Expenses
                    the permission to save files in your Google Drive and to read your Calendar items. We user your calendar to give you a drop down of
                    recent events when filling in the item description. At the same time, you are a telling Google to
                    give us permission to "know you", which simply means we are given your email address. This allows you to access Free Web Expenses without having
                    to create a new username and password. If you're logged on to Google, you're logged on to Free Web Expenses.
                       </span>
                    <br/>
                       <br/>
                    <a style="color:white" href="/app/signup#{{vm.lang}}">
                        <button class="btn btn-warning">
                            OK. Go for it!
                        </button>
                    </a>

        </div>
        <div class="col-md-4">
            <h2>
                <span ng-bind="vm.refs.translateService.getString('w_s3')">
                Step 2. One time only, enter your expenses settings</span<br><br>
            </h2>
            <p><span ng-bind="vm.refs.translateService.getString('w_s4')">
                Items such as company name, base currency, base language, nominal codes, etc.
                This only needs to be done once, but of course can be changed at any time.
                </span>
            <p>
                You could always give us a +1 on Google Plus. We really do appreciate the support.  <br/><br/>Here's a handy button to click <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="small" data-annotation="inline" data-width="300" data-href="https://plus.google.com/110085130533773510074"></div>

            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script> .
            </p>
            <br>
            We'd also like to suggest that you follow us on Google Plus so we can share updates, hints and tips with the Free Web Expenses community.
            <br/><br/>
            For your clicking convenience, here is a handy button for that too
            <br/>
            <!-- Place this tag where you want the widget to render. -->
            <div class="g-follow" data-annotation="none" data-height="24" data-href="//plus.google.com/110085130533773510074" data-rel="publisher"></div>

            <!-- Place this tag after the last widget tag. -->
            <script type="text/javascript">
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
            </p>
        </div>
        <div style="background-color: rgba(255, 255, 116, 0.3)" class="col-md-4">
            <h2>
                GCDC Judges, read this ...<br><br><br>
            </h2>
            <p>
                The Free Web Expenses app only really makes sense when run with employees and static data already set up, and with some expenses history already entered.
                <br><br>This is also true for an employee, with the addition that he/she will also benefit from having some recent events in his Calendar to populate the description drop down.
                <br><br><br>
                Therefore, we have created a demo account that you can use to access the system with all of this data preloaded. The demo account is a manager, but of course
                managers are also employees, so you will be able to login as either to see the respective views.
                <br><br><br>
                Remember to try the employee login both from a PC and from a Smartphone to appreciate the significant work that went into creating the mobile web app.
                <br><br><br>
                The demo user is <b>fwedemo@gmail.com</b> with a password of <b>fwepassword</b>
            </p>
        </div>
    </div>
</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="app/bower_components/angular/angular.min.js"></script>
<script>
var app = angular.module('exApp', []);
    console.log(app);
</script>
<script src="app/scripts/services/translateservice.js"></script>
<script src="app/scripts/controllers/staticcontroller.js"></script>
</body>
</html>