<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Web Expenses">
    <meta name="author" content="CleverThinking">
    <title>
        Free Web Expenses - Your business, your cloud
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"  rel="stylesheet">
</head>

<body style="line-height: 190%; 18 px;" data-ng-app="exApp" data-ng-controller="StaticCtrl">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#{{vm.lang}}">Home</a>
                </li>
                <!--
                <li>
                    <a href="/bhowto.html#{{vm.lang}}">How to?</a>
                </li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li data-ng-repeat="lang in vm.refs.translateService.getLangs()">
                            <a href="#{{lang[0]}}">{{lang[1]}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div  class="navbar-form navbar-right">
                <a style="color:white" href="bsignup.html#{{vm.lang}}">
                <button class="btn btn-warning">
                    <span ng-bind="vm.refs.translateService.getString('w_signup')">Sign up</span>
                </button>
                </a>
                <a style="color:white" href="/app/manager.html">
                    <button class="btn btn-primary">
                        <span ng-bind="vm.refs.translateService.getString('w_manager')">Manager login</span>
                    </button>
                </a>
                <a style="color:white" href="/app/emp.html">
                    <button class="btn btn-success">
                        <span ng-bind="vm.refs.translateService.getString('w_employee')">Employee login</span>
                    </button>
                </a>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<div class="jumbotron" style="background: url('images/CloudImage2.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(252, 191, 0);
    font-size: 8em;
    text-shadow: 2px 2px 2px #000, 3px 3px 5px rgb(8, 8, 58)">
Free Web Expenses
    <br/>
    <p style="font-size: 0.5em">
<span ng-bind="vm.refs.translateService.getString('w_b1')">Do your company Expenses on the Web (or mobile)</span><br/>
<span ng-bind="vm.refs.translateService.getString('w_b2')"> ... for Free</span><br/>


    </p>
        <button style="margin-left:40%; font-size: 40px" onclick="window.scroll(0,99999);" class="btn btn-primary"><span ng-bind="vm.refs.translateService.getString('w_more')">Tell me more</span></button>
    <br/>
    <br/>
</div>

<div class="container" >
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>
                {{vm.refs.translateService.getString('w_what')}}
            </h2>
            <p>
            </p>
            <div>
                {{vm.refs.translateService.getString('w_whata')}}
            </div>
            <div>
                <br>
            </div>
        </div>
        <div class="col-md-4">
            <h2>
                {{vm.refs.translateService.getString('w_why')}}
            </h2>
            <p>
                {{vm.refs.translateService.getString('w_whya')}}
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                {{vm.refs.translateService.getString('w_key')}}
            </h2>
            <p>
            <ul>
                <li>{{vm.refs.translateService.getString('w_kf1')}}</li>
                <li>{{vm.refs.translateService.getString('w_kf2')}}</li>
                <li>{{vm.refs.translateService.getString('w_kf3')}}</li>
                <li>{{vm.refs.translateService.getString('w_kf4')}}</li>
                <li>{{vm.refs.translateService.getString('w_kf5')}}</li>
            </ul>
            </p>
        </div>
    </div>
    <footer>
        <p style="font-weight: bold">
            Free Web Expenses proudly makes use of&nbsp;Google&nbsp;AppEngine, Google Cloud
            Endpoints,&nbsp;Google Drive, and AngularJS
        </p>
    </footer>
</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="app/bower_components/angular/angular.min.js"></script>
<script>
var app = angular.module('exApp', []);
    console.log(app);
</script>
<script src="app/scripts/services/translateservice.js"></script>
<script src="app/scripts/controllers/staticcontroller.js"></script>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35002187-3', 'gcdc2013-freewebexpenses.appspot.com');
  ga('send', 'pageview');

</script>
</html>