

.maincontainer {
	width: 98%
}

.signupsettings {
	font-weight: bold;
	color: black;
}

.tab-content {
	background-color: white;
}

.nav-tabs li {
}

.nav-tabs > li > aZ {
border-color: #999999 #999999 #dddddd;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
	padding: 1px 5px 1px 5px;

}

.r div {
	float: right;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%	; 
    height: 300px;
    font-size: 12px;
}

.gridStyle input[type="radio"] {
	margin-left: 40%;
}


/* fixups for tags input */
#tdtag input {
	
}

#tdtag .decipher-tags {
	width: 20em;	
	margin: 0px
}

select {
	background-color: transparent;
}

/* reports tab */

#reports input[type=radio] {
    margin-right: 5px;
    margin-top: 2px;
}
#reports p {
    vertical-align: top
}


/* smart table start */

/* app css stylesheet */

.smart-table {
    Ztable-layout: fixed;
    width: 100%;
}

.table {
	background-color: white;
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.smart-table-data-row.selected {
    background: darkgray;
}

.header-content:before {
    content: ' ';
    position: relative;
    left: -5px;
}

.sort-ascent:before {
    content: "\25B4";
}

.sort-descent:before {
    content: "\25BE";
}

.pagination {
    text-align: center;
    cursor: pointer;
}

.smart-table th {
    width: 120px;
    padding: 0 20px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 150px;
    text-align: center;
    background-color: #269;
    background-image: linear-gradient(rgba(255, 255, 255, .5) 1px, transparent 4px), linear-gradient(90deg, rgba(255, 255, 255, .5) 1px, transparent 4px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 40px 40px, 40px 40px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    box-shadow: 0px 3px 8px 2px rgba(80, 80, 80, 1);
}

.banner {
    padding: 10px;
    color: #ffffff;
    text-shadow: 0px 3px 30px #fafaff;
    z-index: 999;
}

.main {
    margin-top: 180px;
    padding: 0 20px;
}

.tab-container {
    margin: auto;
}

pre {
    margin: 0;
    border-radius: 3px;
    border: 3px solid rgba(240, 240, 240, 0.7);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

.table-container {
    width: 75%;
    margin: 20px auto;
}

.menu {
    width: 100%;
    text-align: left;
    margin: 5px 0 0 0;
    height: 35px;
    border-top: 2px solid rgb(214, 213, 220);
    border-bottom: 2px solid rgb(214, 213, 220);
    background: #000000;
}

.menu > li {
    list-style: none;
    display: inline;
    float: left;
}

.menu > li > a {
    width: 90px;
    line-height: 1.8em;
    color: rgb(80, 80, 80);
}

.selected {
    background-color: rgb(255, 238, 126);
}

.side-controls {
    margin-left: 15px;
    float: left;
    width: 20%;
    background: #d9e1e8;
    color: rgb(80, 80, 80);
    padding: 5px;
    border: 2px dashed #269;
}

.output-list {
    display: inline-block;
    width: 70%;
    margin-left: 25px;
    list-style: none;
    background: #d9e1e8;
    color: rgb(80, 80, 80);
    border: 2px dashed #269;
    padding: 10px;
}

section {
    margin-top: 20px;
    clear: both;
    overflow-y: hidden;
    text-align: center;
}

p {
    text-align: left;
}

ul {
    text-align: left;
}

.firstName-header {
    text-decoration: underline;
}

.lastName-cell {
    color: red;
}

em {
    color: #269;
    background: #c1c2c2;
}

.note {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    background: #269;
    font-size: 0.9em;
    color: white;
}

.pagination {
    text-align: center;
    margin: 0;
}

th:not(.selection-header) {
    min-width: 100px;
}

h2 {
    border-bottom: 2px solid #269;
    border-top: 2px solid #269;
}

.header-content:before {
    content: ' ';
    position: relative;
    left: -5px;
}

.sort-ascent:before {
    content: "\25B4";
}

.sort-descent:before {
    content: "\25BE";
}

.property-name{
    font-weight: bold;
}


.smart-table .wid5 {
	width: 300px;
	min-width: 10px;
}


.smart-table .wid2 {
	width: 60px;
	max-width: 60px;
	min-width: 20px;
}

.smart-table .r {
	text-align: right;
}

.smart-table .c {
	text-align: center;
}

/* smart table end */










/* animations start*/

.topdown-show,.topdown-hide {
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.1s;
}

.topdown-show {
	top: -200px;
}

.topdown-show-active {
	top: 0px;
}

.topdown-hide {
	top: 0px
}

.topdown-hide-active {
	top: -200px;
}

.slide-show,.slide-hide,.slidez-show,.slidez-hide  {
	-webkit-transition: all linear .3s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.slide-show {
	margin-left: -1200px;
	margin-right: 1200px;
}

.slide-show-active {
	margin-left: 0px;
	margin-right: 0px; 
}

.slide-hide {
	margin-left: 0px;
	margin-right: 0px; 
}

.slide-hide-active {
	margin-left: -1200px;
	margin-right: 1200px;
}


.slidez-show {
	margin-left: 1200px; 
	margin-right: -1200px;
}

.slidez-show-active {
	margin-left: 0px;
	margin-right: 0px; 
}

.slidez-hide {
	margin-left: 0px;
	margin-right: 0px; 
}

.slidez-hide-active {
	margin-left: 1200px; 
	margin-right: -1200px;
}







.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}
/* animations end*/
