/* Will be compiled down to a single stylesheet with your sass files */
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 100%;
	height: 300px;
	font-size: 12px;
}

.gridStyle input[type="radio"] {
	margin-left: 40%;
}

.itemlist {
	width: 100%;
}

button {
	outline-color: transparent;
}

.btn-hollow {
	background-color: transparent;
	border: 1px solid grey;
	color: white !important;
	outline: none !important;
}
.navbar-header {
	float: inherit;
}

.navbar-toggle {
	display: block;
	color: white;
}

.navbar-inverse {
	border-color: transparent;
}

.badge {
	font-size: 14px;
}
#itemedit {
	line-height: 1;
}
.form-control {
width: 90%;
padding: 1px 2px;
font-size: 1em;
line-height: 1;
border-radius: 4px;
}
#maintable {
	margin-top: 70px;
}

table {
	border-collapse: collapse;
}

.item1 {
	font-size: 1em;
}

.item2 {
	font-size: 0.7em;
	border-bottom: 2px solid grey;
}

.itemleft {
	margin-left: 20px
}

.itemright {
	display: inline-block;
	float: right;
	text-align: right;
	margin-right: 20px
}

.xnavbar-toggle {
	position: fixed;
	float: left;
}

@media all and (orientation:portrait) {
	#sidebar {
		display: none;
	}
	#main {
		margin-left: 0px;
	}
}
/*
@Zmedia all and (orientation:landscape) {
	#sidebar {
		display: block;
		position: fixed;
		top: 74px
	}
	#main {
		position: absolute;
		top: 74px;
		left: 10em;
	}
}*/
.navbar-navm li {
	padding-bottom: 0.4em
}

.decipher-tags {
	border:none !important;
}
#itemForm input {
	height: 1.5em;
	margin-bottom: 0.5em;
}

#itemForm .narrow {
	width: 10em;
}


#itemForm label {
	margin-top: 1.5em;
	margin-bottom: 0em;
}
#itemForm select,option {
	height: 1.5em;
}

/* smart table start */

/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

.smart-table-data-row.selected {
	background: darkgray;
}

.header-content:before {
	content: ' ';
	position: relative;
	left: -5px;
}

.sort-ascent:before {
	content: "\25B4";
}

.sort-descent:before {
	content: "\25BE";
}

.pagination {
	text-align: center;
	cursor: pointer;
}

.smart-table th {
	width: 120px;
	padding: 0 20px;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 150px;
	text-align: center;
	background-color: #269;
	background-image: linear-gradient(rgba(255, 255, 255, .5) 1px,
		transparent 4px), linear-gradient(90deg, rgba(255, 255, 255, .5) 1px,
		transparent 4px), linear-gradient(rgba(255, 255, 255, .3) 1px,
		transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px,
		transparent 1px);
	background-size: 40px 40px, 40px 40px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	box-shadow: 0px 3px 8px 2px rgba(80, 80, 80, 1);
}

.banner {
	padding: 10px;
	color: #ffffff;
	text-shadow: 0px 3px 30px #fafaff;
	z-index: 999;
}

.main {
	margin-top: 180px;
	padding: 0 20px;
}

.tab-container {
	margin: auto;
}

pre {
	margin: 0;
	border-radius: 3px;
	border: 3px solid rgba(240, 240, 240, 0.7);
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

.table-container {
	width: 75%;
	margin: 20px auto;
}

.menu {
	width: 100%;
	text-align: left;
	margin: 5px 0 0 0;
	height: 35px;
	border-top: 2px solid rgb(214, 213, 220);
	border-bottom: 2px solid rgb(214, 213, 220);
	background: #000000;
}

.menu>li {
	list-style: none;
	display: inline;
	float: left;
}

.menu>li>a {
	width: 90px;
	line-height: 1.8em;
	color: rgb(80, 80, 80);
}

.selected {
	background-color: rgb(255, 238, 126);
}

.side-controls {
	margin-left: 15px;
	float: left;
	width: 20%;
	background: #d9e1e8;
	color: rgb(80, 80, 80);
	padding: 5px;
	border: 2px dashed #269;
}

.output-list {
	display: inline-block;
	width: 70%;
	margin-left: 25px;
	list-style: none;
	background: #d9e1e8;
	color: rgb(80, 80, 80);
	border: 2px dashed #269;
	padding: 10px;
}

section {
	margin-top: 20px;
	clear: both;
	overflow-y: hidden;
	text-align: center;
}

p {
	text-align: left;
}

ul {
	text-align: left;
}

.firstName-header {
	text-decoration: underline;
}

.lastName-cell {
	color: red;
}

em {
	color: #269;
	background: #c1c2c2;
}

.note {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	background: #269;
	font-size: 0.9em;
	color: white;
}

.pagination {
	text-align: center;
	margin: 0;
}

th:not (.selection-header ) {
	min-width: 100px;
}

h2 {
	border-bottom: 2px solid #269;
	border-top: 2px solid #269;
}

.header-content:before {
	content: ' ';
	position: relative;
	left: -5px;
}

.sort-ascent:before {
	content: "\25B4";
}

.sort-descent:before {
	content: "\25BE";
}

.property-name {
	font-weight: bold;
}

.smart-table .wid5 {
	width: 300px;
	min-width: 10px;
}

.smart-table .wid2 {
	width: 50px;
	min-width: 20px;
}

.smart-table .r {
	text-align: right;
}

.smart-table .c {
	text-align: center;
}

/* smart table end */


.noitems {
	text-align: center;
	padding-left: 40%;
	padding-top:10em;
	margin-top:100px;
}

/* animations start*/
.topdown-show,.topdown-hide {
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.1s;
}

.topdown-show {
	top: -200px;
}

.topdown-show-active {
	top: 0px;
}

.topdown-hide {
	top: 0px
}

.topdown-hide-active {
	top: -200px;
}

.slide-show,.slide-hide,.slidez-show,.slidez-hide {
	-webkit-transition: all linear .3s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 2s;
}

.slide-show {
	margin-left: -1200px;
	margin-right: 1200px;
}

.slide-show-active {
	margin-left: 0px;
	margin-right: 0px;
}

.slide-hide {
	margin-left: 0px;
	margin-right: 0px;
}

.slide-hide-active {
	margin-left: -1200px;
	margin-right: 1200px;
}

.slidez-show {
	margin-left: 1200px;
	margin-right: -1200px;
}

.slidez-show-active {
	margin-left: 0px;
	margin-right: 0px;
}

.slidez-hide {
	margin-left: 0px;
	margin-right: 0px;
}

.slidez-hide-active {
	margin-left: 1200px;
	margin-right: -1200px;
}

.fade-hide,.fade-show {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
	opacity: 1;
}

.fade-hide.fade-hide-active {
	opacity: 0;
}

.fade-show {
	opacity: 0;
}

.fade-show.fade-show-active {
	opacity: 1;
}

/* When hiding an element */
.my-elm.ng-hide-add {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
	opacity: 1;
}

.my-elm.ng-hide-add.ng-hide-add-active {
	opacity: 0;
}

/* When showing an element */
.my-elm.ng-hide-remove {
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	-o-transition: 0.2s linear all;
	transition: 0.2s linear all;
	/* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
	display: block !important;
	opacity: 0;
}

.my-elm,.my-elm.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

/* When hiding an element */
.td.ng-hide-add {
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	Zopacity: 1;
	margin-top: 0px;
}

.td.ng-hide-add.ng-hide-add-active {
	Zopacity: 0;
	margin-top: -200px;
}

/* When showing an element */
.td.ng-hide-remove {
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	/* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
	display: block !important;
	margin-top: -50px;
	Zopacity: 0;
}

.td,.td.ng-hide-remove.ng-hide-remove-active {
	margin-top: 0px;
	Zopacity: 1;
}

/* animations end*/